<div class="search">
<%= form_tag messages_path, :method => :get do %>
    <%= search_field_tag :q, params[:q] %>
    <%= submit_tag 'Искать' %>
  <% end %>
</div>

<div class="messages list">
  <ul>
    <%= render @messages %>
  </ul>
  <%= paginate @messages %>
</div>
