<li class="list-item <%= cycle( "odd", "even" ) %>">
  <span class="contact <%= contact.status %>">
    <%= contact.value %>
  </span>
  <% if contact.good? || contact.unknown? %>
    <span class="message pull-right <%= delivery_status(@message, contact) %>">
      <%= @message.delivery_status_text_for(contact) %>
    </span>
  <% end %>
</li>
