<div class="email_properties list">
  <ul>
    <% @property_emails.each do |property| %>
      <li class="list-item <%= cycle( "odd", "even" ) %>">
        <%= link_to property.title, property_email_path(property) %>

        <span class="actions pull-right">
          <%= link_to "Редактировать", edit_property_email_path(property) %>
          <%= link_to "Удалить", property_email_path(property), :method => :delete, :data => { :confirm => 'Вы уверены?' } %>
        </span>
      </li>
    <% end %>
  </ul>

  <%= link_to "Добавить настройку", new_property_email_path, :class => 'btn btn-primary btn-sm'%>
</div>
