<h3><%= @property_email.title %></h3>

<div class="property">
  <ul>
    <li>
      <strong>Ссылка:</strong>
      <%= link_to @property_email.url %>
    </li>
    <li>
      <strong>Email:</strong>
      <%= mail_to @property_email.email %>
    </li>
    <li>
      <strong>Slug:</strong>
      <%= @property_email.slug %>
    </li>
    <li>
      <strong>Футер:</strong>
      <%= @property_email.footer.html_safe %>
    </li>
  </ul>
</div>

<%= link_to "Назад к списку", property_emails_path, :class => 'btn btn-default btn-sm' %>
